@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-yellow: #ffc107;
  --primary-dark: #0dcaf0;
}

body{
  font-family:'Roboto Condensed' sans-serif;
}
/*navbar links */
nav a.nav-link{
  font-weight:600;
  letter-spacing:0.0375rem;
  cursor:pointer;
  
}

nav ul li{
  text-transform: uppercase;
  
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-right:0.75rem;
  margin-left:0.75rem;
}

.navbar-brand {
  max-width:17.25rem;
  padding: 0 !important;
  height: 3rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-bottom: 0.1880rem solid var(--primary-yellow);
}

.navbar-nav > li > a:hover{
  border-bottom: 0.1880rem solid var(--primary-yellow);
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: 0 !important;
  margin-left: auto;
}